@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --background: #fbf8f3; */
  --background: #f9f5eb;
  /* --background: #fffdf6; */
  --foreground: #171717;
  /* Задаем кастомный цвет для Swiper навигации/пагинации */
  --swiper-navigation-color: #c21f1f; /* Белые стрелки */
  --swiper-pagination-color: #10b981; /* Зеленые точки (например, emerald-500) */
  --swiper-pagination-bullet-inactive-color: #0f46b4; /* Светло-серые неактивные точки */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-georgia: var(--font-georgia);
  --font-greatVibes: var(--font-greatVibes);
  --font-caveat: var(--font-caveat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), var(--font-geist-sans), sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transform-style-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .animate-spin-y-180 {
    animation: spin-y-180 6s infinite linear;
  }
}

@keyframes spin-y-180 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Более явное применение стилей для стрелок */
.swiper-button-next,
.swiper-button-prev {
  color: var(--swiper-navigation-color) !important;
  /* Увеличиваем размер стрелок на больших экранах */
  @media (min-width: 768px) {
    --swiper-navigation-size: 40px;
  }
}

/* Убедитесь, что точки пагинации хорошо видны */
.swiper-pagination-bullet {
  opacity: 1; /* Полная непрозрачность */
}

.swiper-button-next {
  right: -20px !important; /* Замість стандартних 10px */
}

/* Переміщення кнопки "Попередній" вглиб слайдера */
.swiper-button-prev {
  left: 30px !important;
}
